@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
body {
  font-family: "Poppins", sans-serif;
  background-color: #cbcccc;
}
.content {
  margin: 8%;
  background-color: #fff;
  padding: 4rem 1rem;
  box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.05);
  border-radius: 10px;
}
.right {
  padding: 30px 50px;
}
.signin-text {
  font-style: normal;
  font-weight: 600 !important;
}
.form-control {
  display: block;
  width: 100%;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  border: 1px solid #9e9e9e !important;
  padding: 5px !important;
  margin: 3px 0 7px;
  height: auto;
  border-radius: 3px;
  background-color: #fff;
  background-clip: padding-box;
}

.form-control:focus {
  color: #495057;
  background-color: #fff;
  border-color: #fff;
  outline: 0;
  box-shadow: none;
}

.btn-class {
  margin: 10px 0;
  width: 100%;
}

#front {
  animation: bounce 2s ease-in-out infinite alternate;
}

#back1,
#back2,
#back3 {
  animation: blow 3s ease-in-out infinite alternate;
  transform-origin: bottom;
}

@keyframes bounce {
  from {
    transform: rotateX(0deg);
  }
  to {
    transform: rotateX(40deg);
  }
}

@keyframes blow {
  from {
    transform: translateX(-1%);
  }
  to {
    transform: translateX(1%);
  }
}
